ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
    background:rgb(64, 53, 219); /*добавляем фон всему меню*/
    height: 45px; /*задаем высоту*/
  }
  a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:rgb(64, 53, 219); /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:45px; /*ровняем меню по вертикали*/
    display: block; 
    border-right: 1px solid #677B27; /*добавляем бордюр справа*/
  }
  a:hover {
    background:rgb(42, 192, 159);/*добавляем эффект при наведении*/
  }
  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    position:relative; /*задаем позицию для позиционирования*/
  }
       
      /*Стили для скрытого выпадающего меню*/
      li > ul {
          position:absolute;
          top:20px;
          display:none;   
      }
       
      /*Делаем скрытую часть видимой*/
      li:hover > ul {
          display:block; 
          width:250px;  /*Задаем ширину выпадающего меню*/      
      }
     li:hover > ul > li {
          float:none; /*Убираем горизонтальное позиционирование*/
      }